<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <rosparam file="$(find nav_test)/config/xiaoqiang/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find nav_test)/config/xiaoqiang/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nav_test)/config/xiaoqiang/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav_test)/config/xiaoqiang/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav_test)/config/xiaoqiang/base_local_planner_params.yaml" command="load" />
  </node>
  
</launch>
